.env

# 链码
asset-transfer-basic
contract-sdk
vc
**/vendor/

# 发现服务配置文件
/conf.yml

# api 文件
api/api.yml
api/gateway/connection.go

# 自动生成
/compose/
data
orgs
config/configtx.yaml
/envpeer1*
basic.tar.gz
/compose.yml
logs
bin