.env

# 链码
asset-transfer-basic
contract-sdk
chaincode
vc

# 发现服务配置文件
/conf.yml

# api 文件
api/api.yml
api/gateway/connetion.go

# 自动生成
/compose/
/tmp/
data
orgs
config/configtx.yaml
/envpeer1*
basic.tar.gz
/docker-compose.yml
